name: "PR"

on:
  pull_request:

env:
  INT_ACCOUNT_ID: 12345
  INT_NON_PROD_ACCOUNT_ID: 56789
  INT_PROD_ACCOUNT_ID: 99999

permissions:
  id-token: write
  contents: read
  pull-requests: read
  checks: write

jobs:
  run-tf-plan:
    name: "Run TF Plan"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository to the runner
        uses: actions/checkout@v2

      - name: Setup Terraform with specified version on the runner
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.0
          # terraform_wrapper: false
    
      - name: Terraform init
        id: init
        run: terraform init

      - name: Terraform Plan
        id: plan
        run: |
          set +e
          terraform plan -detailed-exitcode -out=tfplan.out
          echo "exit_code=$?" >> $GITHUB_OUTPUT
        continue-on-error: true

      - name: Check Plan Result
        run: |
          if [ "${{ steps.plan.outputs.exitcode }}" -eq 2 ]; then
            echo "Changes detected."
          elif [ "${{ steps.plan.outputs.exitcode }}" -eq 0 ]; then
            echo "No changes."
          else
            echo "Error during plan."
            exit 1
          fi